* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

body {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.phone-mockup {
    width: 360px;
    height: 703px;
    background:  #F6F6F6;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color: #1F2261;
}

.converter-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-top: 80px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}

.currency-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.amount {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    background: none;
    border: none;
    width: 150px;
    color: #333;
}

.exchange-rate {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 15px;
}
.exchange-rate strong {
    color: #000000;
}

.divider {
    position: relative;
    width: 100%;
    height: 2px;
    background: #ccc;
    margin: 20px 0;
}

.swap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#swap-btn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #1a237e;
    color: white;
    font-size: 22px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1F2261;
}

.flag {
    width: 45px;
    height: 45px;
    border-radius: 30%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow {
    font-size: 12px;
    opacity: 0.6;
    transition: 0.2s;
}

.dropdown.show .arrow {
    transform: rotate(180deg);
    opacity: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
    width: 180px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown.show .dropdown-content {
    display: block;
}

.dropdown-content div {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background: #f0f0f0;
}